/* khung */
/* ------------- */
  .overlay_re {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(221, 194, 194, 0.5);
  }


  .content_re {
      position: relative;
      background-color: #f8f8f8;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      width: 50vw;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .content_re1 {
      position: absolute;
      top: 5%;
      left: 10%;
      background-color: #C90505;
      color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      max-width: 300px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .content_re2 {
      position: absolute;
      top: 5%;
      right: 10%;
      background-color: #C90505;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      max-width: 300px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  @media screen and (max-width: 768px) {
    .content_re2 {
        clear: both;
        margin-top: 200px;
    }
  }

.content_re3 {
  position: absolute;
  top: 25%;
  flex-grow: 1;
    background-color: #f8f8f8;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    margin-top: 20px;
}


  /* bộ đếm giờ */
  #timer {
    position: absolute;
    font-size: 100px;
    top: 7%;
    color: rgb(248, 248, 248);
    /* right: 10%; */ 
    /* border: 2px solid #000000; */
    padding: 5px;
    background-color: rgba(158, 3, 3, 0.912);
    border-radius: 10px 10px 10px 10px;
  }
  #time-up-message{
      position: anoelute;
      font-size: 40px;
      top: 24%;
      right: 10%;
      /* border: 2px solid #000000; */
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px 10px 10px 10px;
  }


  body {
      font-family: Arial, sans-serif;
  }


/* ------------- */
/* button */

  .button-container{
      display: flex;
  }

  .button-group button {
      margin-left: 10px; 
  }

  #submitBtn {
      /* clear: both; */
      display: block;
      /* display: center; */
      /* margin-top: 50px; */
      border-radius: 20px;
      background-color: #c21010;
      font-size: 20px;
      color: #fff;
      width: 200px;
      margin-top: 20px;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      position: aneolute;
      top: 50%;
      left: 50%;
      bottom: 20px;
      right: 20px;
  }


  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .question-container {
      margin-top: 20px;
  }

  #question {
      max-width: auto;
      margin-bottom: 20px;
  }


  .text-rec{
      font-size: 20px;
      margin-top: 40px;
      margin-left: 40%;
      display: flex;
      text-align: center;
  }

  .text-rec2{
      font-size: 20px;
  }
  .question label {
      display: block;
      margin-bottom: 5px;
  }

